.about__gallery {
  height: 58.6rem;
  pointer-events: none;
  position: relative;
  margin: 15rem auto;
  overflow: hidden;
  visibility: hidden;

  &:first-child {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.about__gallery__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}
.about__gallery__media {
  height: 43.7rem;
  margin: 0 4rem;
  position: relative;
  width: 30.9rem;
}
.about__gallery__media__image {
  @extend %cover;

  object-fit: cover;
}
