
$color-white: #ffffff;

$color-quarter-spanish-white: #f9f1e7;


$color-contessa: #000000;
$color-quicksand: #0096C7;
$color-cadet-blue: #313131;
$color-bright-grey: #1e1e1e;



$font-george-x: "George X";
$font-suisse-bp: "Suisse BP";

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("preloader","navigation", "content" ,"ogl-canvas", "discover-preloader" );
