.home {
  @extend %center;
  @extend %page;

  // background: $color-contessa;
  // color: $color-quarter-spanish-white;

  overflow: hidden;
  text-align: center;

  &::before,
  &::after {
    content: "";
    height: 35rem;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
  }

  &::before {
    background: #000000;
    background: -moz-linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: linear-gradient(
      0deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    top: 0;
  }

  &::after {
    background: #000000;
    background: -moz-linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    background: linear-gradient(
      180deg,
      rgba(201, 113, 100, 0) 0%,
      #000000 90%,
      #000000 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    bottom: 0;
  }
}
.home__wrapper {
  @extend %cover;
}

.home__titles {
  @extend %vertical-titles;
}

.home__titles__label {
  @extend %vertical-titles__label;
}

.home__titles__title {
  @extend %vertical-titles__title;
}

// .home__gallery {
//   @extend %cover;
//   height: 172.5rem;
//   width: 241.8rem + 9rem;
//   // visibility: hidden;
// }

.home__gallery {
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  padding: 0 2.5rem;
  position: absolute;
  top: -0;
  transform: translateX(-50%);
  width: 100%;
  visibility:hidden; 
}


.home__gallery__media {
  padding: 2.5rem;
  width: 20%
}

.home__gallery__media--2 {
  transform: translateY(10rem)
}

.home__gallery__media--3 {
  transform: translateY(30rem)
}

.home__gallery__media--4 {
  transform: translateY(20rem)
}

.home__gallery__media--5 {
  transform: translateY(40rem)
}



.home__gallery__media__image {
  // @extend %cover;
  width: 100%;
  display: block;
  opacity: 1;
}
.home__link {
  @extend %description-14;

  letter-spacing: 0.05px;
  width: 28.84em;
  height: 6rem;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  text-transform: uppercase;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  svg {
    pointer-events: none;
  }

  @include media("<phone") {
    bottom: 1rem;
    width: 55rem;
    height: 13.7rem;
  }
}


.home__link__icon {
  @extend %cover;

  color:#8d8d8d;
}


.home__link__icon__path{
	stroke-dasharray: 0, 600;
	transition: 0.5s;
  transition-timing-function: ease;
}

.home__link:hover .home__link__icon .home__link__icon__path{
  stroke-dasharray: 600, 0;
}

