.navigation {
  @extend %cover;

  color: $color-quarter-spanish-white;
  z-index: z("navigation");
  position: fixed;
  pointer-events: none;
}

.navigation__link {
  // @extend %link--hidden;

  font-size: 0;
  position: absolute;
  left: 4rem;
  top: 4rem;
  transition: opacity 0.4s ease;
  width: 12.8rem;
  pointer-events: auto;
  height: 4rem;

  &:hover {
    opacity: 0.5;
  }

  svg {
    pointer-events: none;
  }

  @include media("<phone") {
    left: 5rem;
    top: 5rem;
    width: 27.9rem;
    height: 4.3rem;
  }
}
.navigation__link__icon {
  display: block;
  height: 30px;
}

.navigation__list {
  display: flex;
  position: absolute;
  right: 4rem;
  top: 4rem;
}
.navigation__list__item {
  margin-left: 2rem;
  pointer-events: auto;
}
.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;

  display: block;
  line-height: 1;
}
